@use '../../../styles/color-schemes/default' as color;
@use '../../../styles/screen-schemes/default' as screen;
@use '../../../styles/color-classes';

.inputError {
    @include color-classes.error_border();
}

.passwordContainer {
    display: flex;
    justify-content: center;
    padding-top: 10rem;

    .item {
    width: fit-content;
    margin: 10;
    display: flex;
    flex-direction: column;

    .settingsExplainText {
        margin-top: 8px;
        max-width: 440px;
        color: color.$dark-bright-blue;
    }

    .settings__header {
        color: color.$dark-blue;
    }

    .passwordChange {
        margin-top: 16px;
        max-width: 440px;


        .primary {
            width: 120px;
            float: right;
            margin-top: 50px;

        }
        i {
            position: absolute;
      right: 20px;
      top: 40px;
      cursor: pointer;
    }

    .inputFieldComponent {
        padding-top: 0;
        margin: 0;
        .formInput {
            height: 50px;
            border: 1px solid color.$darker-green;
        }

        &.formInputError {

            .formInput {
                border: 2px solid color.$error;

            }
        }
    }
  }
}

@media screen and (screen.$mq-subsmall) {
    .inputFieldComponent {
        width: 95%;
    }
    .passwordChange {
        .primary {
            width: 95%;
        }
    }
}

}

.passwordChangeConfirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: color.$darker-green;

    .passwordText {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .passwordCheck {
        padding-right: 8px;
    }

    .primary {
        width: 304px;
    }

}

.invalidPasswordLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;

    .invalidRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        width:300px
    }

    .invalidIcon {
        padding-right: 8px;
        font-size: 36px;
        margin-bottom: 8px;
    }

    .invalidText {
        text-align: center;
    }


    .primary {
        width: 300px;
    }


}
