// Breakpoints
$bp-small: 48em; // 768px - smartphone
$bp-medium: 64em; // 1024px - tablet
$bp-large: 85.375em; // 1366px - laptop
$bp-xlarge: 120em; // 1920px - high-res laptop
$bp-xxlarge: 160em; // 2560px - max-width supported

// Media Queries
$mq-subsmall: 'max-width: calc(#{$bp-small} - #{0.001em})';
$mq-small: 'min-width: #{$bp-small}';
$mq-submedium: 'max-width: calc(#{$bp-medium} - #{0.001em})';
$mq-medium: 'min-width: #{$bp-medium}';
$mq-sublarge: 'max-width: calc(#{$bp-large} - #{0.001em})';
$mq-large: 'min-width: #{$bp-large}';
$mq-subxlarge: 'max-width: calc(#{$bp-xlarge} - #{0.001em})';
$mq-xlarge: 'min-width: #{$bp-xlarge}';
$mq-subxxlarge: 'max-width: calc(#{$bp-xxlarge} - #{0.001em})';
$mq-xxlarge: 'min-width: #{$bp-xxlarge}';

// List of breakpoints
$breakpoints: (
  'mobile': $bp-small,
  'tablet': $bp-medium,
  'laptop': $bp-large,
  'high-res': $bp-xlarge,
  'max-width': $bp-xxlarge,
) !default;

$content-width-small: 741px;