{
  "municipalityNumber": "{{municipality_number}}",
  "type": "{{org_type}}",
  "navn": "{{navn}}",
  "defaultEmailAddress": "{{default_email}}",
  "hasSms": {{has_sms | tojson}},
  "shortCode": "{{short_code}}"
}
