.backButtonContainer {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
