@use 'styles/color-schemes/default' as color;
@use 'styles/functions';
@use 'styles/font-classes';
@use 'styles/screen-schemes/default' as screen;

.newsListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (screen.$mq-subsmall) {
    max-width: 18rem;
  }
}
