@use '../../../styles/functions';

.passwordPageForm {
  @include functions.setFromOutline();
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  max-width: 450px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forgotten__button {
  flex-basis: 50%;
  &--wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }
}

.forgotten__input {
  width: 100%;
}
