@use '../../styles/color-schemes/default' as colors;
@use '../../styles/functions' as functions;
@use '../../styles/screen-schemes/default'  as display;



.introductionContainer {
    // scroll-snap-align: center;
    // height: 100vh;
    min-height: calc(100vh - 103px);
    display: flex;
    align-items: center;
    @media screen and (display.$mq-subsmall) {
        width: 90%;
        min-height: calc(100vh - 60px);

    }
}

.introductionContent {
    // height: 300px;
    // margin-top: 103px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // width: 80%;
    @media screen and (display.$mq-subsmall) {
        margin-top: 5px;
        flex-direction: column-reverse;
        // width: 90%;
    }
}


.mailImage {
    height: 450px;
    margin-right: -70px;
    @media screen and (display.$mq-subsmall) {
        height: 300px;
        width: 100%;
        margin-right: 0px;
    }
}

.informationTextContainer {
    width: 60%;
    margin-top: 70px;
    @media screen and (display.$mq-subsmall) {
        width: 100%;
        margin-top: 5px;
        // align-self: center;
    }
}

.introHeading {
    font-size: 24px;
    font-weight: 400;
    color: colors.$bright-green;
    margin-left: 50px;
    @media screen and (display.$mq-subsmall) {
        margin-left: 0px;
    }
}

.description {
    font-size: 48px;
    font-weight: 400;
    color: colors.$dark-blue;
    @media screen and (display.$mq-subsmall) {
        font-size: 24px;
    }
}

.descriptionButtons {
    padding: 0px 20px;
    display: inline-flex;
    text-decoration: none;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    @media screen and (display.$mq-subsmall) {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 0px;
    }
}

.descriptionButtons > * {
    @media screen and (display.$mq-subsmall) {
        width: 40%;
    }
}

.seVideo {
    background-color: colors.$bright-blue;
    margin-left: 20px;
    font-size: 14px;
    &:hover {
        @include functions.setColors(colors.$dark-bright-blue, colors.$white, colors.$dark-bright-blue);
    }
    // @media screen and (display.$mq-subsmall) {
    //     width: 40%;
    // }
    // margin-bottom: 5px;
}

.iTryOutBytton {
    font-size: 14px;
    background-color: colors.$bright-green;
    &:hover {
        @include functions.setColors(colors.$darker-green, colors.$white, colors.$darker-green);
    }
    justify-content: center;
}

.videoModal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.modalVideo {
    width: 50vw;
    height: calc(50vw*0.5625);
    @media screen and (display.$mq-subsmall) {
        width: 90vw;
        height: calc(90vw*0.5625);
    }
}