-r ../lint-requirements.txt
../packages_source/python/
fastapi[all]==0.88.0
freezegun
opentelemetry-api
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-propagator-gcp
opentelemetry-sdk
pytest-mock==3.10.0
responses
suds-community==1.0.0
