# assumes package innbyggerkontakt-utils and other related packages
# are installed in the parent docker image or on the system.
fastapi[all]==0.88.0
gunicorn
# packages_source/python/ # 32adbf99701b40eeb1f8d69720c99f77
opentelemetry-api
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
opentelemetry-propagator-gcp
opentelemetry-sdk
pytz
suds-community==1.0.0
