@use 'styles/screen-schemes/default' as screen;

.item {
  .passwordChange {
    max-width: 400px;
    .primary {
      width: 400px;
    }
    i {
      position: absolute;
      right: 20px;
      cursor: pointer;
    }

    .inputFieldComponent {
      padding: 10px 0;
      margin: 0;
    }
  }

  @media screen and (screen.$mq-subsmall) {
    .inputFieldComponent {
      width: 95%;
    }
    .passwordChange {
      .primary {
        width: 95%;
      }
    }
  }
}
