@use '../../styles/screen-schemes/default' as screen;
@use '../../styles/color-schemes/default' as colors;

.previewPageContainer {
    display: flex;
    flex-direction: column;
    width: 60rem;

    @media screen and (screen.$mq-subsmall) {
        width: 80%;
    }

    > :nth-child(2) {
        margin-top: 1rem;
    }

    > :nth-child(3) {
        margin-top: 0.5rem;
    }

    > :nth-child(4) {
        margin-top: 1rem;
    }

    > :nth-child(5) {
        margin-top: 1rem;
    }

    .emailPreviewContainer {
        border: 1px solid black;
        padding: 1rem;
        background-color: white;
    }
}
