@use 'styles/color-schemes/default' as color;
@use 'styles/font-classes';
@use 'styles/screen-schemes/default' as screen;

.previewPage {
  width: 80%;
  margin: auto;

  @media screen and (screen.$mq-subsmall) {
    width: 95%;
  }

  .loader {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__deviceIcons {
    display: flex;
    justify-content: center;
    border-radius: 3px;
    margin-bottom: 1rem;

    :first-child {
      border-right-style: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    :last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }

  &__deviceButton {
    background-color: transparent;
    border: 2px solid color.$bright-blue;
    color: color.$bright-blue;

    &--active {
      background-color: color.$bright-blue;
      .previewPage__deviceItem {
        color: #ffffff;
      }
    }
  }

  &__deviceItem {
    color: color.$bright-blue;
  }

  &__checkboxContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__checkboxWithText {
    display: flex;
    align-items: center;
  }

  &__mailButton {
    display: flex;
    align-items: center;
  }

  &__mailIcon {
    margin-right: 12px;
  }

  &__testEmailStage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .languagePicker {
      margin-top: 56px;
    }
  }

  &__testButton {
    margin-top: 20px;
    margin-bottom: 64px;
  }

  &__navigateButton {
    display: inline-flex;
    float: right;
    @media screen and (screen.$mq-subsmall) {
      align-self: center;
    }
  }

  &__buttonRow {
    display: flex;
    justify-content: flex-end;

    @media screen and (screen.$mq-subsmall) {
      flex-direction: column;
      gap: 12px;
      align-items: center;

      .secondary {
        margin-right: 0px;
      }
    }
    .editIcon {
      fill: color.$bright-blue;
      margin-right: 12px;
      margin-left: 3px;
    }
  }

  &__buttonRowTestEmail {
    display: flex;
    justify-content: space-between;

    @media screen and (screen.$mq-subsmall) {
      flex-direction: column;
      gap: 12px;
      align-items: center;

      .tertiary {
        order: 3;
      }
    }

    .editIcon {
      fill: color.$bright-blue;
      margin-right: 12px;
      margin-left: 3px;
    }
  }

  &__editButtons {
    @media screen and (screen.$mq-subsmall) {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__nextButton {
    margin-top: 40px;
    .primary {
      float: right;
      display: inline-flex;
      margin-bottom: 20px;
    }
  }
}

.previewButtonSecondary {
  display: flex;
  margin-right: 20px;
}

.previewButtonTertiary {
  display: flex;
  margin-right: 10px;
  float: right;
}

.devicePreview--hidden {
  display: none;
}
